[data-form-status-id] {
	text-align: center;
	.icon {
		text-align: center;
		font-size: 48pt;
		padding: 20px 0;
		display: none;
		&.wait {
			color: dodgerblue;
		}
		&.success {
			color: darkgreen;
		}
		&.warn {
			color: darkorange;
		}
		&.error {
			color: darkred;
		}
	}
	&[data-status="wait"] {
		.icon.wait { display: block; }
	}
	&[data-status="success"] {
		.icon.success { display: block; }
	}
	&[data-status="warn"] {
		.icon.warn { display: block; }
	}
	&[data-status="error"] {
		.icon.error { display: block; }
	}
	.message {
		text-align: center;
		padding: 18px 0;
	}
}

.hiweb-theme-widget-form-modal-wrap {
	display: none;
}

.hiweb-theme-widget-form-modal {
	padding: 2em;
}