.hiweb-theme-slider.full-height .owl-item {
  height: 100vh; }
.hiweb-theme-slider.aspect-16-9 .owl-item {
  position: relative;
  min-height: 300px; }
  .hiweb-theme-slider.aspect-16-9 .owl-item:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 56.25%; }
  .hiweb-theme-slider.aspect-16-9 .owl-item > * {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
.hiweb-theme-slider.aspect-2-1 .owl-item {
  position: relative;
  min-height: 280px; }
  .hiweb-theme-slider.aspect-2-1 .owl-item:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 50%; }
  .hiweb-theme-slider.aspect-2-1 .owl-item > * {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
.hiweb-theme-slider.aspect-4-3 .owl-item {
  position: relative;
  min-height: 480px; }
  .hiweb-theme-slider.aspect-4-3 .owl-item:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 75%; }
  .hiweb-theme-slider.aspect-4-3 .owl-item > * {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
.hiweb-theme-slider .owl-item {
  overflow: hidden; }
  .hiweb-theme-slider .owl-item .slide {
    background: black;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
    .hiweb-theme-slider .owl-item .slide.image img {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover; }
    .hiweb-theme-slider .owl-item .slide.video video {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover; }
    .hiweb-theme-slider .owl-item .slide.darken:after {
      content: ' ';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      background-color: rgba(0, 0, 0, 0.65); }
    .hiweb-theme-slider .owl-item .slide .content {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      left: 0;
      right: 0;
      width: 100%;
      text-align: center;
      z-index: 10; }
    .hiweb-theme-slider .owl-item .slide.darken .content {
      color: #fff; }
.hiweb-theme-slider .owl-dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 5%;
  text-align: center; }
  .hiweb-theme-slider .owl-dots .owl-dot {
    width: 12px;
    height: 12px;
    background-color: rgba(255, 255, 255, 0.25);
    -webkit-box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.35);
    -o-box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.35);
    box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.35);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-border-top-left-radius: 20px;
    -webkit-border-top-right-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-topright: 20px;
    -moz-border-radius-bottomright: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 4px;
    margin: auto 5px; }
    .hiweb-theme-slider .owl-dots .owl-dot.active {
      background-color: white; }

/*# sourceMappingURL=slider.css.map */
